<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car_model.name %>
</p>

<p>
  <b>Model name:</b>
  <%= @car_model.model_name %>
</p>

<p>
  <b>Model make:</b>
  <%= @car_model.model_make %>
</p>


<%= link_to 'Edit', edit_car_model_path(@car_model) %> |
<%= link_to 'Back', car_models_path %>
